.texts-header {
    position: relative;
    z-index: 6;
    margin: 0;
    padding: 6px 0;
}

.texts-header__title {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    color: $c-black;
    font-size: 11vw;
    line-height: 1.1;
    margin: 0;

    @include mq(tablet) {
        font-size: 84px;
        line-height: 1;
    }

    span {
        display: block;
        text-align: right;
        color: $c-red;
        margin-top: -1vw;

        @include mq(tablet) {
            margin-top: -10px;
        }
    }
}

.texts-header__standfirst {
    font-family: 'Guardian Egyptian Web';
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold;
    color: $c-black;
    max-width: 80%;

    @include mq(desktop) {
        font-size: 32px;
        line-height: 1;
        margin-top: 12px;
    }

}

.texts-header__byline {
    font-family: 'Guardian Egyptian Web';
    color: $c-red;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    margin: 4px 0 6px;

    @include mq(tablet) {
        margin: 12px 0;
    }

    a {
        font-weight: bold;
        font-style: normal;
        text-decoration: none;
        color: $c-red;

        &:hover {
            color: $c-black;
        }
    }
}